<div class="edit-zona-dialog">
  <h2 mat-dialog-title>{{dialogTitle}}</h2>

  <mat-dialog-content>
  <form [formGroup]="zonaForm">
    <div *ngIf="!isNew" class="form-row">
      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label>ID de Zona</mat-label>
          <input matInput type="text" [value]="zonaForm.get('idZona')?.value" readonly>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de la Zona</mat-label>
          <input matInput type="text" formControlName="zona" required>
          <mat-error *ngIf="zonaForm.get('zona')?.hasError('required')">
            El nombre de la zona es requerido
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="descripcion" rows="3"></textarea>
      </mat-form-field>
    </div>
  </form>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <a mat-button mat-dialog-close class="volver-link">« Volver</a>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="zonaForm.invalid">Guardar cambios</button>
  </mat-dialog-actions>
</div>
